@font-face {
    font-family: "blockfont";
    src: url("block.ttf") format('truetype');
}

* {
    font: 36px "blockfont", Verdana, sans-serif;;
}

html {
    height: 100%;
    background: black;
    color: white;
    display:block;
}
a { 
    color:white; 
}
    
    
pre {
    font: 36px "blockfont", Verdana, sans-serif;;
    -webkit-font-smoothing : none;
    font-smooth: never;
    color: #eeeeee;
    }
#content {
    position: absolute;
}