* {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 0;
    margin: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: rgb(217, 204, 224);

    /* background-image: url();
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
    background-clip: border-box;
    backdrop-filter: blur(5px); */

    position: relative;
}

.app {
    flex-direction: column;

    font-family: "MS Sans Serif", Tahoma, Verdana, Segoe, sans-serif;
    /* font-family: 'Inter';
    color: white; */

    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

@keyframes ranbow-slide {
  to {
    background-position:20vw;
  }
}