@import url("./vars.css");
@import url("./scroll.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 200vh;
    background: var(--primary-color);
    justify-content: center;
    z-index: 0;
}

.body-size {
  height: 100%;
  min-height: 100%;
}

.cont-b-v0 {
    height: auto;
    min-height: auto;
}

a {
    color:rgb(194, 194, 194)
}

.c-body-v1 {
    min-height: 300vh
}

.app-v0 {
    text-align: center;
}

.title-v0 {
    font-family: "Tepeno Sans Light", serif;
    color: var(--title-color);
    font-size: 45px;
    margin-top: 1%;
}

.title-product-v0 {
    cursor: pointer;
    font-family: "Tepeno Sans Light", serif;
    color: var(--title-color);
    font-size: 35px;
    margin-bottom: 5%;
}

.app-v0 {
    width: 100%;
    height: 100%;
}

.down-v0 {
    font-size: 12px;
}

p {
    font-family: "Tepeno Sans Light", serif;
    color: var(--normal-color);
}

.product-v0 {
    padding: 30px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.txtmiddle-v0 {
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    z-index: 2;
    border-radius: 20px;
    background: #191a1d;
    padding: 30px;
    width: 350px;
    height: 400px;
    box-shadow: 0px 5px 3px var(--shadow-color);
    transition: all .3s;
    overflow-y: scroll;
    overflow-x: hidden;
}

.left-text-v0 {
    text-align: left;
    font-size: 30px;
}

.left-text-v1 {
    text-align: left;
}

.right-text-v0 {
    text-align: left;
    font-size: 30px;
}

.text-pres-v0 {
    margin-left: 6.5%;
    margin-right: 6.5%;
    margin-bottom: 10px;
}

.pseudo-enum-text-v0 {
    text-align: center;
    font-size: 16px;
    margin-top: auto;
}

.perso-img-v0 {
    box-shadow: 0 0 20px 0 var(--shadow-color), 0 5px 5px 0 var(--shadow-color);
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    border-radius: 50%;
    border: solid;
    border-width: 3px;
    border-color: #16171a;
    height: 80px;
    margin-bottom: 25px;
}


.link-v0 {
    font-family: "Roboto", sans-serif;
    color: rgb(117, 115, 115);
}

.list-cara-v0 {
    font-size: 14px !important;
}

.basetext-v0 {
    color: rgb(150, 148, 148);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: left;
}

.liste-caract-v0 {
    display: flex;
    box-shadow: 0 0 20px 0 var(--shadow-color), 0 5px 5px 0 var(--shadow-color);
    background: #16171a;
    border-radius: 4%;
    margin-bottom: 3%;
}

.text-desc-v0 {
    box-shadow: 0 0 20px 0 var(--shadow-color), 0 5px 5px 0 var(--shadow-color);
    background: #16171a;
    border-radius: 4%;
    text-align: left;
}

.product-list-v0 {
    display: flex;
    flex-wrap: wrap;
}

.square-v0 {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.txtmiddle-v0 {
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    z-index: 2;
    border-radius: 20px;
    background: #191a1d;
    padding: 30px;
    width: 350px;
    height: 400px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    transition: all .3s;
}

.txtmiddle-v0:hover {
    transform: scale(1.1);
}

.left-text-v0 {
    text-align: left;
    font-size: 30px;
}

.left-text-v1 {
    text-align: left;
}

.right-text-v0 {
    text-align: left;
    font-size: 30px;
}

.text-pres-v0 {
    margin-left: 6.5%;
    margin-right: 6.5%;
    margin-bottom: 10px;
}

.pseudo-enum-text-v0 {
    text-align: center;
    font-size: 16px;
    margin-top: auto;
}

.perso-img-v0 {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    border-radius: 50%;
    height: 80px;
    margin-bottom: 25px;
}

.link-v0 {
    font-family: "Roboto", sans-serif;
    color: rgb(117, 115, 115);
}

.basetext-v0 {
    color: rgb(150, 148, 148);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: left;
}

.title-main-v0 {
    text-align: center;
    margin-top: 1%;
    font-family: 'Neucha', cursive;
    color: rgb(117, 115, 115);
    font-size: 40px;
}

.subtitle-main-v0 {
    padding-top: 3%;
    padding-bottom: 2%;
    font-family: 'Neucha', cursive;
    color: rgb(148, 148, 148);
    font-size: 40px;
}

.footer-main-text-v0 {
    color: rgb(150, 148, 148);
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    margin-top: 10%
}

.subtitle-main-v1 {
    padding-top: 3%;
    padding-bottom: 2%;
    font-family: 'Neucha', cursive;
    color: rgb(148, 148, 148);
    font-size: 30px;
}

.center-text-v0 {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}