:root {
    --primary-color: #131416;
    --secondary-color: #191a1d;
    --shadow-color: #111010;
    --title-color: rgb(117, 115, 115);
    --subtitle-color: rgb(148, 148, 148);
    --normal-color: #d4d1d1;
}

@font-face {
    font-family: "Tepeno Sans Light";
    src: url("../../datas/fonts/Tepeno\ Sans\ Light.ttf") format("woff2");
}

@keyframes bigger {
    from { height: 98.5px; }
    to   { height: 150px; }
}